<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pda.api.mapper.slave.BloodMapper">

    <select id="selectBloodStatus" resultType="com.pda.api.domain.entity.BloodInfo">
        select * from blood_excute
        where patient_id = #{patientId}
        and visit_id = #{visitId}
    </select>

    <select id="selectLogs" resultType="com.pda.api.domain.entity.BloodInfo">
        select *
        from blood_oper_log
        where patient_id = #{patientId} and visit_id = #{visitId}
        <if test="bloodIds != null and bloodIds.size()>0">
            and blood_id IN
            <foreach collection="bloodIds" item="bloodId" separator="," open="(" close=")">
                #{bloodId}
            </foreach>
        </if>
        order by create_time asc
    </select>
</mapper>
