<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pda.api.mapper.primary.OrdersMMapper">

    <select id="selectWardByOrder" parameterType="string" resultType="com.pda.common.dto.DictDto">
        select pi.ward_code "key" ,pi.ward_name "value"
        from (select distinct ward_code from orders_m where NURSE = #{userName}) om
        inner join (select distinct ward_code,ward_name from patient_info) pi on om.ward_code = pi.ward_code
    </select>

    <select id="findMyPatient" resultType="com.pda.api.dto.PatientInfoDto">
        select pi.patient_id "patientId",visit_id "visitId",pi.name,pi.sex,pi.inp_no "inpNo",pi.bed_no "bedNo",pi.ward_code "wardCode",
        pi.ward_name "wardName",pi.doctor_in_charge "doctorCode",pi.date_of_birth "birthDay",pi.admission_date_time "admissionDate",
        pi.diagnosis
        from (select distinct patient_id from orders_m where ward_code = #{wardCode} and nurse = #{userName}) om
        inner join patient_info pi on om.patient_id = pi.patient_id
        <if test='keyword != null and keyword != ""'>
            where pi.name like concat('%',#{keyword},'%') or pi.bed_no = #{keyword} or pi.inp_no like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="selectDrugDispensionCount" resultType="com.pda.api.dto.CheckCountResDto">
        select *
        from orders_m
        where patient_id = #{patientId,jdbcType=VARCHAR} and visit_id = #{visitId}
        <if test='repeatIndicator != null'>
            repeat_indicator = #{repeatIndicator}
        </if>
        and (ADMINISTRATION like concat('续静滴','%') or ADMINISTRATION like concat('静脉输液','%'))
    </select>

    <select id="listShortOrderByPatientId" resultType="com.pda.api.domain.entity.OrdersM">
        select *
        from orders_m
        where patient_id = #{patientId} and visit_id = #{visitId}
        and repeat_indicator = 0
        and start_date_time <![CDATA[>=]]> #{startDateOfDay} and start_date_time <![CDATA[<=]]> #{endDateOfDay}
        <if test='type != null and type != ""'>
            <choose>
                <when test="type == '5'">
                    and administration = '皮内注射'
                </when>
            </choose>
        </if>
        <if test='drugType != null'>
            and administration in (select distinct label from order_label_param where id = #{drugType})
        </if>
        order by order_no
    </select>

    <select id="listLongOrderByPatientId" resultType="com.pda.api.domain.entity.OrdersM">
        select *
        from orders_m
        where patient_id = #{patientId} and visit_id = #{visitId}
        and start_date_time <![CDATA[<=]]> #{endTime} and repeat_indicator = 1 and stop_date_time is null
        <if test='type != null and type != ""'>
            <choose>
                <when test="type == '5'">
                    and administration = '皮内注射'
                </when>
            </choose>
        </if>
        <if test='drugType != null'>
            and administration in (select distinct label from order_label_param where id = #{drugType})
        </if>
        order by order_no
    </select>

    <select id="listShortOralByPatientId" resultType="com.pda.api.domain.entity.OrdersM">
        select * from orders_m
        where patient_id = #{patientId} and visit_id = #{visitId}
        and repeat_indicator = 0 and start_date_time <![CDATA[>=]]> #{startDateOfDay} and start_date_time <![CDATA[<=]]> #{endDateOfDay}
        and administration in (select distinct label from order_label_param where id = 1002) order by order_no
    </select>

    <select id="listLongOralByPatientId" resultType="com.pda.api.domain.entity.OrdersM">
        select * from orders_m
        where patient_id = #{patientId} and visit_id = #{visitId}
        and start_date_time <![CDATA[<=]]> #{endTime} and repeat_indicator = 1 and stop_date_time is null
        and administration in (select distinct label from order_label_param where id = 1002)
        order by order_no
    </select>
</mapper>
