<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pda.api.mapper.primary.OrdersMMapper">

    <select id="selectWardByOrder" parameterType="string" resultType="com.pda.common.dto.DictDto">
        select pi.ward_code "key" ,pi.ward_name "value"
        from (select distinct ward_code from orders_m where NURSE = #{userName}) om
        inner join (select distinct ward_code,ward_name from patient_info) pi on om.ward_code = pi.ward_code
    </select>

    <select id="findMyPatient" resultType="com.pda.api.dto.PatientInfoDto">
        select pi.patient_id "patientId",visit_id "visitId",pi.name,pi.sex,pi.inp_no "inpNo",pi.bed_no "bedNo",pi.ward_code "wardCode",
        pi.ward_name "wardName",pi.doctor_in_charge "doctorCode",pi.date_of_birth "birthDay",pi.admission_date_time "admissionDate",
        pi.diagnosis,pi.NURSING_CLASS "nursingClass",pi.NURSING_CLASS_NAME "nursingClassName"
        from patient_info pi
        where 1=1
        <!--<if test='deptCode != null and deptCode != ""'>
            and pi.dept_code = #{deptCode}
        </if>-->
        <if test='wardCode != null and wardCode != ""'>
            and (pi.dept_code = #{wardCode} or pi.ward_code = #{wardCode})
        </if>
        <if test='keyword != null and keyword != ""'>
            and (pi.name like concat(concat('%',#{keyword}),'%') or to_char(pi.bed_no) like concat(concat('%',#{keyword}),'%') or pi.inp_no like concat(concat('%',#{keyword}),'%'))
        </if>
        order by pi.bed_no asc
    </select>

    <select id="listShortOrderByPatientId" resultType="com.pda.api.domain.entity.OrdersM">
        select *
        from orders_m
        where patient_id = #{patientId} and visit_id = #{visitId}
        and repeat_indicator = 0
        and start_date_time <![CDATA[>=]]> #{startDateOfDay} and start_date_time <![CDATA[<=]]> #{endDateOfDay}
        <if test='labels != null and labels.size()>0'>
            and administration in
            <foreach collection="labels" index="index"  item="item"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='statusList != null and statusList.size()>0'>
            and order_status in
            <foreach collection="statusList" index="index"  item="status"
                     open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        order by order_no
    </select>

    <select id="listLongOrderByPatientId" resultType="com.pda.api.domain.entity.OrdersM">
        select *
        from orders_m
        where patient_id = #{patientId} and visit_id = #{visitId}
        and start_date_time <![CDATA[<=]]> #{endTime} and repeat_indicator = 1
        <if test='labels != null and labels.size()>0'>
            and administration in
            <foreach collection="labels" index="index"  item="item"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='statusList != null and statusList.size()>0'>
            and order_status in
            <foreach collection="statusList" index="index"  item="status"
                     open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        order by order_no
    </select>

    <select id="selectOrderByPatient" resultType="com.pda.api.domain.entity.OrdersM">
        select *
        from orders_m
        where patient_id = #{patientId} and visit_id = #{visitId}
        order by order_no
    </select>

    <select id="selectAllTodoOrders" resultType="com.pda.api.domain.entity.OrdersM">
        select distinct patient_id,visit_id,order_no
        from orders_m
        where order_status in ('2','3')
        <if test='labels != null and labels.size()>0'>
            and administration not in
            <foreach collection="labels" index="index"  item="item"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="listShortOtherOrderByPatient" resultType="com.pda.api.domain.entity.OrdersM">
        select *
        from (
            SELECT PATS_IN_HOSPITAL.WARD_CODE,
       ORDERS.PATIENT_ID,
       ORDERS.VISIT_ID,
       ORDERS.ORDER_NO,
       ORDERS.ORDER_SUB_NO,
       ORDERS.REPEAT_INDICATOR,
       ORDERS.ORDER_CLASS,
       (SELECT CLASS_NAME
          FROM CLINIC_ITEM_CLASS_DICT
         WHERE CLASS_CODE = ORDERS.ORDER_CLASS) ORDER_CLASS_NAME,
       ORDERS.ORDER_STATUS,
       (SELECT ORDER_STATUS_NAME
          FROM ORDER_STATUS_DICT
         WHERE ORDER_STATUS_CODE = ORDERS.ORDER_STATUS) ORDER_STATUS_NAME,
       ORDERS.ORDER_TEXT,
       ORDERS.ORDER_CODE,
       ORDERS.DOSAGE,
       ORDERS.DOSAGE_UNITS,
       '其他' ADMINISTRATION,
       ORDERS.DURATION,
       ORDERS.DURATION_UNITS,
       ORDERS.START_DATE_TIME,
       ORDERS.STOP_DATE_TIME,
       ORDERS.FREQUENCY,
       ORDERS.FREQ_COUNTER,
       ORDERS.FREQ_INTERVAL,
       ORDERS.FREQ_INTERVAL_UNIT,
       ORDERS.FREQ_DETAIL,
       ORDERS.PERFORM_SCHEDULE,
       ORDERS.PERFORM_RESULT,
       ORDERS.ORDERING_DEPT,
       ORDERS.DOCTOR,
       ORDERS.STOP_DOCTOR,
       ORDERS.NURSE,
       ORDERS.STOP_NURSE
    FROM ORDERS, PATS_IN_HOSPITAL
    WHERE ORDERS.PATIENT_ID = PATS_IN_HOSPITAL.PATIENT_ID
             and (ORDERS.ORDER_CLASS  NOT IN('B','A')) and (ORDERS.ORDER_TEXT NOT LIKE'%饮食%' )
        ) orders_n
        where patient_id = #{patientId} and visit_id = #{visitId}
        and order_status in ('2','3')
        and repeat_indicator = 0
        and start_date_time <![CDATA[>=]]> #{startDateOfDay} and start_date_time <![CDATA[<=]]> #{endDateOfDay}
    </select>

    <select id="listLongOtherOrderByPatient" resultType="com.pda.api.domain.entity.OrdersM">
        select *
        from (
            SELECT PATS_IN_HOSPITAL.WARD_CODE,
       ORDERS.PATIENT_ID,
       ORDERS.VISIT_ID,
       ORDERS.ORDER_NO,
       ORDERS.ORDER_SUB_NO,
       ORDERS.REPEAT_INDICATOR,
       ORDERS.ORDER_CLASS,
       (SELECT CLASS_NAME
          FROM CLINIC_ITEM_CLASS_DICT
         WHERE CLASS_CODE = ORDERS.ORDER_CLASS) ORDER_CLASS_NAME,
       ORDERS.ORDER_STATUS,
       (SELECT ORDER_STATUS_NAME
          FROM ORDER_STATUS_DICT
         WHERE ORDER_STATUS_CODE = ORDERS.ORDER_STATUS) ORDER_STATUS_NAME,
       ORDERS.ORDER_TEXT,
       ORDERS.ORDER_CODE,
       ORDERS.DOSAGE,
       ORDERS.DOSAGE_UNITS,
       '其他' ADMINISTRATION,
       ORDERS.DURATION,
       ORDERS.DURATION_UNITS,
       ORDERS.START_DATE_TIME,
       ORDERS.STOP_DATE_TIME,
       ORDERS.FREQUENCY,
       ORDERS.FREQ_COUNTER,
       ORDERS.FREQ_INTERVAL,
       ORDERS.FREQ_INTERVAL_UNIT,
       ORDERS.FREQ_DETAIL,
       ORDERS.PERFORM_SCHEDULE,
       ORDERS.PERFORM_RESULT,
       ORDERS.ORDERING_DEPT,
       ORDERS.DOCTOR,
       ORDERS.STOP_DOCTOR,
       ORDERS.NURSE,
       ORDERS.STOP_NURSE
    FROM ORDERS, PATS_IN_HOSPITAL
    WHERE ORDERS.PATIENT_ID = PATS_IN_HOSPITAL.PATIENT_ID
             and (ORDERS.ORDER_CLASS  NOT IN('B','A')) and (ORDERS.ORDER_TEXT NOT LIKE'%饮食%' )
        ) orders_n
        where patient_id = #{patientId} and visit_id = #{visitId}
        and order_status in ('2','3')
        and repeat_indicator = 1
        and start_date_time <![CDATA[<=]]> #{endTime}
    </select>
</mapper>
