<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pda.api.mapper.primary.OrdersMMapper">

    <select id="selectWardByOrder" parameterType="string" resultType="com.pda.common.dto.DictDto">
        select pi.ward_code "key" ,pi.ward_name "value"
        from (select distinct ward_code from orders_m where NURSE = #{userName}) om
        inner join (select distinct ward_code,ward_name from patient_info) pi on om.ward_code = pi.ward_code
    </select>

    <select id="findMyPatient" resultType="com.pda.api.dto.PatientInfoDto">
        select pi.patient_id "patientId",pi.name,pi.sex,pi.inp_no "inpNo",pi.bed_no "bedNo",pi.ward_code "wardCode",
        pi.ward_name "wardName",pi.doctor_in_charge "doctorCode",pi.date_of_birth "birthDay",pi.admission_date_time "admissionDate",
        pi.diagnosis
        from (select distinct patient_id from orders_m where ward_code = #{wardCode} and nurse = #{userName}) om
        inner join patient_info pi on om.patient_id = pi.patient_id
        <if test='keyword != null and keyword != ""'>
            where pi.name like concat('%',#{keyword},'%') or pi.bed_no = #{keyword} or pi.inp_no like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="selectDrugDispensionCount" resultType="com.pda.api.dto.CheckCountResDto">
        select *
        from orders_m
        where patient_id = #{patientId,jdbcType=VARCHAR}
        <if test='repeatIndicator != null'>
            repeat_indicator = #{repeatIndicator}
        </if>
        and (ADMINISTRATION like concat('续静滴','%') or ADMINISTRATION like concat('静脉输液','%'))
    </select>
</mapper>
