<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pda.api.mapper.lis.SpecimenApplyMapper">

    <select id="selectSubjectCheck" resultType="com.pda.api.dto.SpecimenCheckResDto">
        select
               a.test_no as testNo,
               stuff(
                    (
                        select ','+ T.req_itemname
                        from req_detail T
                        where T.req_id = a.req_id and T.req_detailid = a.req_detailid
                        FOR XML PATH('')
                    ),1,1,''
               ) as subject,
               a.specimen as specimen,
               a.req_dt as requestedDateTime,
               a.perform_dept
        from (
            select *
            from (select * from req_master where pat_id = #{patId}) rm
            inner join req_detail rd on rm.req_id = rd.req_id
        ) a
    </select>

</mapper>
